<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}の自己紹介"%>
      </h2>
    <div class = "user__sentence">
      <%= @user.profile%>
      </div>
      <h2 class="page-heading">
        <%= "#{@user.name}の投稿"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'nights/night', collection: @nights %>
      </div>
    </div>
  </div>
</div>