/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #ffff;
  background-image: url(star.jpg);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #ffff;
}

/* ヘッダー */

.header {
  background-color: black;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  background-color: #000066;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1px white solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover,.greeting__link:hover{
  opacity: 0.5;
}

.greeting__link{
  text-decoration: underline;
  color: yellow;
}

.nav_font{
  font-family: "Kokoro",cursive;
  font-size: 22px;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-bottom: 20px;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.user__sentence{
  margin-bottom: 40px;
  overflow-wrap: normal;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
  background-color: black;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
 
  

}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  color: purple;
  font-size: 12px;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.night__wrapper{
  min-height: calc(100vh - 161px);
}
.night__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: black;
}
.night_user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.night__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.night__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.night__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.night__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #ffff;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.night__btn:hover{
  color: #fff;
  background: #999;
}

.night__comments{
  background-color: black;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  width: 20%;
  background-color: gray;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
.table__col2{
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: black;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
    
  }
  .night_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .night_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}